<html><body><p>{% extends "header.html" %}
{% block body %}
<link href="{{url_for('static', filename='css/alphabet.css')}}" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
    var staticDir = "{{url_for('static', filename='')}}";
    var flagsDir = "{{url_for('static', filename='images/alphabet/flags/')}}";
    var letter = "{{letter}}", mode = "{{mode}}", level = "{{level}}",
    choices = "{{choices}}", alphabet = "{{alphabet}}", words = "{{words}}", alphabetForLearning="{{alphabetForLearning}}",intro="{{intro}}";
</script>
<script src="{{url_for('static', filename='js/alphabet/alphabet.js')}}" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function(){initialize_alphabet(mode, level, alphabetForLearning);};
</script>
<!-- POP-UP INSTRUCTIONS -->
</p><div class="modal" id="myModal">
<div class="modal-content">
<div id="header">
<span class="close" id="cl">×</span>
<h2>{{_("Navodila")}}</h2>
</div>
<div class="modal-body">
            {% if mode == "read" %}
                {% if level == "easy" %}
                <p>{{_("
                    Izmed ponujenih črk ")}}<strong>{{_("izberite")}}</strong>{{_(" tisto, ki jo ")}}<strong>{{_("predstavlja")}}</strong>{{_(" prikazana slika. 
                    Če bo izbrana črka ")}}<strong style="color:green;">{{_("pravilna")}}</strong>{{_(", se bo gumb obarval zeleno in po kliku na desno puščico se vam bo prikazala nova naloga.
                    Če bo izbira ")}}<strong style="color:red;">{{_("napačna")}}</strong>{{_(", se bo gumb obarval rdeče. V tem primeru lahko poskusite ")}}<strong>{{_("ponovno")}}</strong>{{_(", dokler ne izberete
                    pravilne rešitve. Vsaka ")}}<strong style="color:red;">{{_("napačna")}}</strong>{{_(" izbira se ")}}<strong>{{_("kaznuje")}}</strong>{{_(" z negativno točko.
                    S klikom na levo puščico si lahko pogledate zgodovino svojih odgovorov.
                ")}}</p>
                {% elif level == "medium" %}
                <p>{{_("
                    V polje pod sliko ")}}<strong>{{_("vnesite črko")}}</strong>{{_(", ki jo slika predstavlja, in ")}}<strong>{{_("pritisnite enter")}}</strong>{{_(".
                    Če je vaš odgovor ")}}<strong style="color:green;">{{_("pravilen")}}</strong>{{_(", se bo spodnji rob polja obarval zeleno, sicer rdeče. 
                    V primeru ")}}<strong style="color:green;">{{_("pravilnega")}}</strong>{{_(" odgovora se vam ob kliku na desno puščico prikaže nova naloga, v primeru ")}}<strong style="color:red;">{{_("napačnega")}}</strong>{{_(" odgovora pa lahko poskusite znova. 
                    Če ste s prejšnjimi nalogami zbrali dovolj točk, lahko s klikom na gumb ")}}<strong>{{_(""Rešitev"")}}</strong>{{_(" izveste, katero črko predstavlja slika (s tem izgubite nekaj svojih točk). 
                    S klikom na levo puščico si lahko pogledate zgodovino svojih odgovorov.
                ")}}</p>
                {% elif level == "hard" %}
                <p>{{_("
                    S klikom na gumb ")}}<strong>{{_(""Začni"")}}</strong>{{_(" sprožite animacijo.
                    Prikazalo se vam bo zaporedje slik, od katerih bo vsaka prikazovala eno črko. Črke vnesite v polja pod sliko in ")}}<strong>{{_("pritisnite enter")}}</strong>{{_(".
                    Polja, kamor ste vnesli pravilno črko, se bodo obarvala ")}}<strong style="color:green;">{{_("zeleno")}}</strong>{{_(", polja z napačno črko ")}}<strong style="color:red;">{{_("rdeče")}}</strong>{{_(", prazna polja pa bodo ostala ")}}<strong>{{_("nespremenjena")}}</strong>{{_(".
                    Za vsako pravilno vnešeno črko ")}}<strong>{{_("dobite")}}</strong>{{_(" eno točko, medtem ko za vsako napačno vnešeno črko eno točko ")}}<strong>{{_("izgubite")}}</strong>{{_(".
                    Prazno polje točk ne spreminja.
                    Če ste s prejšnjimi nalogami zbrali ")}}<strong>{{_("dovolj točk")}}</strong>{{_(", lahko s klikom na gumb ")}}<strong>{{_(""Začni znova"")}}</strong>{{_(" animacijo sprožite še enkrat (s tem izgubite nekaj svojih točk). 
                    S klikom na levo puščico si lahko pogledate zgodovino svojih odgovorov.
                ")}}</p>
                {% endif %}
            {% elif mode == "write" %}
                {% if level == "easy" %}
                <p>{{_("
                    Izmed ponujenih slik ")}}<strong>{{_("izberite")}}</strong>{{_(" tisto, ki jo ")}}<strong>{{_("predstavlja")}}</strong>{{_(" prikazana črka.
                    Če bo izbrana slika ")}}<strong style="color:green;">{{_("pravilna")}}</strong>{{_(", se bo gumb obarval zeleno in po kliku na desno puščico se vam bo prikazala nova naloga.
                    Če bo izbira ")}}<strong style="color:red;">{{_("napačna")}}</strong>{{_(", se bo gumb obarval rdeče. V tem primeru lahko poskusite ")}}<strong>{{_("ponovno")}}</strong>{{_(", dokler ne izberete
                    pravilne rešitve. Vsaka ")}}<strong style="color:red;">{{_("napačna")}}</strong>{{_(" izbira se ")}}<strong>{{_("kaznuje")}}</strong>{{_(" z negativno točko.
                    S klikom na levo puščico si lahko pogledate zgodovino svojih odgovorov.
                ")}}</p>
                {% elif level == "medium" %}
                <p>{{_("
                    Kliknite in ")}}<strong>{{_("zavrtite")}}</strong>{{_(" neosenčeno zastavico v pravilen položaj in kliknite ")}}<strong>{{_("kjukico")}}</strong>{{_(" pod sliko.
                    Če je vaš odgovor ")}}<strong style="color:green;">{{_("pravilen")}}</strong>{{_(", se kljukica obarva zeleno in s klikom na desno puščico se vam prikaže naslednja naloga.
                    Če pa je vaš odgovor ")}}<strong style="color:red;">{{_("napačen")}}</strong>{{_(", se kjukica obarva rdeče, v polju s črko pa se za ")}}<strong>{{_("trenutek prikaže črka")}}</strong>{{_(", ki jo predstavlja trenutna postavitev rok.
                    S klikom na levo puščico si lahko pogledate zgodovino svojih odgovorov.
                ")}}</p>
                {% elif level == "hard" %}
                <p>{{_(" 
                    Kliknite in ")}}<strong>{{_("zavrtite")}}</strong>{{_(" zastavici na ustrezni mesti in kliknite ")}}<strong>{{_("kjukico")}}</strong>{{_(" pod sliko.
                    Če je vaš odgovor ")}}<strong style="color:green;">{{_("pravilen")}}</strong>{{_(", se kljukica obarva zeleno in s klikom na desno puščico se vam prikaže naslednja naloga.
                    Če pa je vaš odgovor ")}}<strong style="color:red;">{{_("napačen")}}</strong>{{_(", se kljukica obarva rdeče, v polju s črko pa se za ")}}<strong>{{_("trenutek prikaže črka")}}</strong>{{_(", ki jo trenutna postavitev rok predstavlja.
                    Če pravilno postavite le eno zastavico, se onemogoči njeno premikanje. S klikom na levo puščico si lahko pogledate zgodovino svojih odgovorov.
                ")}}</p>
                {% endif %}
            {% endif %}
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="panel panel-default level-{{mode}}-{{level}}">
<div class="panel-heading" id="head">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 alignVerticalCenter">
<b><span class="pozdrav1">{{_("Semafor")}}</span></b>
                        {% if intro != "1" %}<button class="align-middle" id="pop-up">{{_("Navodila")}}</button>{% endif %}
                    </div>
<div class="menu-nav">
<div class="menu-nav-item" id="col-1">
<a class="btn btn-secondary" href="{{url_for('alphabet.index', selected_alphabet=alphabetForLearning, )}}" role="button"><img src="{{url_for('static', filename='images/home-icon.png')}}"/></a>
</div>
<div class="menu-nav-item" id="col-2">
<div class="dropdown">
<a aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" href="" role="button">{{_("Pisanje ")}}<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='write', level='easy')}}">{{_("Lahko")}}</a></li>
<li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='write', level='medium')}}">{{_("Srednje")}}</a></li>
<li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='write', level='hard')}}">{{_("Težko")}}</a></li>
</ul>
</div>
</div>
<div class="menu-nav-item" id="col-3">
<div class="dropdown">
<a aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" href="" role="button">{{_("Branje ")}}<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='read', level='easy')}}">{{_("Lahko")}}</a></li>
<li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='read', level='medium')}}">{{_("Srednje")}}</a></li>
<li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='read', level='hard')}}">{{_("Težko")}}</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
            {% if intro == "1" %}
                <div class="panel-body">
<div class="container-fluid">
<div class="row-fluid">
<div class="">
<h1>{{_("Semafor")}}</h1>
<p>{{_("Dobrodošli na strani za učenje komuniciranje s pomočjo tujih abeced.")}}</p>
<p><strong>{{_("Na kratko o izbrani abecedi:")}}</strong></p>
<p>{{_("
                                    Ta abeceda je uporabna za prenašanje sporočil na daljavo, ko sta sogovornika predaleč narazen, da bi se slišala, se pa še lahko vidita.
                                ")}}</p>
<p>{{_("Spodaj si lahko ogledate seznam vseh črk, ki se jih lahko naučite s pomočjo te aplikacije. Za ogled posameznega simbola kliknite na ustrezno kartico.")}}</p>
</div>
<div class="show-all-flags">
                                {% for letter in alphabet %}
                                {% if (loop.index) % 4 == 1 %} <div class="lineWrapper">
                                {% endif %}
                                <div class="f1_container">
<div class="f1_card">
                                        {% if ((loop.index-1) // 4) % 2 == 0 %} <div class="front face {% if loop.index % 2 == 0 %}dark{% else %}light{% endif %}"><h3 class="letterA {% if loop.index % 2 == 0 %}red{% else %}blue{% endif %}">{{_('%(text)s', text=letter.upper())}}</h3></div>
                                        {% else %}<div class="front face {% if loop.index % 2 == 0 %}light{% else %}dark{% endif %}"><h3 class="letterA {% if loop.index % 2 == 0 %}blue{% else %}red{% endif %}">{{_('%(text)s', text=letter.upper())}}</h3></div>
                                        {% endif %}
                                        <div class="back face">
<img src="{{url_for('static', filename='images/alphabet/flags/'+letter+'.png')}}"/>
</div>
</div>
</div>
                                {% if (loop.index) % 4 == 0 %}</div>
                                {% endif %}
                                {% endfor %}
                            </div>
<div class="">
<p>{{_("Pripravljeni, da začnete?")}}</p>
<a class="btn btn-default btn-bg {% if mode == " endif="" href="{{url_for('alphabet.display_excercise', selected_alphabet='flags', mode='read', level='easy')}}" read="" value="Read" {{_("Branje")}} </a>
<a class="btn btn-default btn-bg {% if mode == " endif="" href="{{url_for('alphabet.display_excercise', selected_alphabet='flags', mode='write', level='easy')}}" value="Write" write=""> {{_("Pisanje")}} </a>
</div>
</div>
</div>
</div>
            {% else %}
                <div class="panel-body">
<div class="container-fluid">
<div class="row-fluid">
                            
                            {% if mode == "read" %}
                                {% if level == "easy" %}
                                <div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center">
<b>
<span id="num-points-text">{{_("Število pravilnih odgovorov")}}</span>
</b>
<div id="points"><span id="points-display">{{_("0")}}</span></div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
<a class="elementFloatRight" id="prew-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
</div>
<div class="col-lg-4 col-md-8 col-sm-8 text-center" id="coreLogic">
<!-- <a id="read_easy_help" class="btn btn-default btn-bg">Pomoč</a> -->
<div class="picture-letter well" id="picture-letter">
<img src="{{url_for('static', filename='images/alphabet/flags/'+letter+'.png')}}"/>
</div>
 <!--<a id="next-arrow"><img src="{{url_for('static', filename='next_arrow.png')}}"/></a>-->
<div class="choices" id="choices">
                                        {% for c in choices %}
                                            <button class="btn btn-info btn-letter" type="button">{{_('%(text)s', text=c.upper())}}</button>
                                        {% endfor %}
                                        </div>
{{_("&lt;a id="next-arrow"&gt;&lt;img src="{{url_for('static', filename='next_arrow.png')}}"/&gt;&lt;/a&gt;")}}
</div>
<div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
<a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
</div>
</div>
                                {% elif level == "medium" %}
                                <div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center">
<b>
<span id="num-points-text">{{_("Število pravilnih odgovorov")}}</span>
</b>
<div id="points"><span id="points-display">{{_("0")}}</span></div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center solutionButtonContainer">
<a class="btn btn-default btn-bg btn-solution" id="read_medium_solution">{{_("Rešitev")}}</a>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
<a class="elementFloatRight" id="prew-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
</div>
<div class="col-lg-4 col-md-8 col-sm-8 text-center" id="coreLogic">
<div class="picture-letter well" id="picture-letter">
<img src="{{url_for('static', filename='images/alphabet/flags/'+letter+'.png')}}"/>
</div>
<div class="inputContainer">

<input id="letterInput" maxlength="1" type="text" value=""/>

</div>
</div>
<div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
<a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
</div>
                                {% elif level == "hard" %}
                                <div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center">
<b>
<span id="num-points-text">{{_("Število pravilnih odgovorov")}}</span>
</b>
<div id="points"><span id="points-display">{{_("0")}}</span></div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center solutionButtonContainer">
<a class="btn btn-default btn-bg btn-solution" id="start-animation">{{_("Začni!")}}</a>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
<a class="elementFloatRight" id="prew-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
</div>
<div class="col-lg-4 col-md-8 col-sm-8 text-center" id="coreLogic">
<div class="picture-letter well" id="picture-letter"></div>
<div id="input-string-hard"></div>
</div>
<div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
<a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
</div>
                                {% endif %}
                            {% elif mode == "write" %}
                                {% if level == "easy" %}
                                <div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center">
<b>
<span id="num-points-text">{{_("Število pravilnih odgovorov")}}</span>
</b>
<div id="points"><span id="points-display">{{_("0")}}</span></div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 arrowContainer">
<a class="elementFloatRight" id="prew-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 text-center">
<div class="letterToGuess text-center" id="letterToGuess"><span>{{_("{{letter.upper()}}")}}</span></div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 arrowContainer">
<a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
</div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 text-center wellMarginTop" id="coreLogic">
<div class="row">
<div class="choices-container containerTest" id="choices"> {{_("class="choicesBucket" ")}}
                                                {% for c in choices %}
                                                    <div class="imageSelectionWrap picture-letter-write">
<div class="image_option" id="picture-letter">
<a><img class="imageSelection" src="{{url_for('static', filename='images/alphabet/'+alphabetForLearning+'/'+c+'.png')}}"/></a>
</div>
</div>
                                                {% endfor %}
                                            </div>
</div>
</div>
</div>
                                   
                                {% elif level == "medium" %}
                                    <div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center">
<b>
<span id="num-points-text">{{_("Število pravilnih odgovorov")}}</span>
</b>
<div id="points"><span id="points-display">{{_("0")}}</span></div>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1 text-center">
<div class="letter-to-guess-container">
<div class="text-center write-medium" id="letterToGuess"><span>{{_('%(text)s', text=letter.upper())}}</span></div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-md-1 col-sm-1 arrowContainer">
<a class="elementFloatRight" id="prew-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
</div>
<div class="col-lg-6 col-md-10 col-sm-10 text-center">
<div class="imageCointainer-wrapper">
<div class="imageCointainer-padding"></div>
<div id="imageCointainer">
<img id="imageRightFlag" src="{{url_for('static', filename='images/alphabet/right_flag.png')}}"/>
<img id="imageBasicFigure" src="{{url_for('static', filename='images/alphabet/basic_figure.png')}}"/>
<img id="imageLeftFlag" src="{{url_for('static', filename='images/alphabet/left_flag.png')}}"/>
</div>
<div class="imageCointainer-padding"></div>
</div>
</div>
<div class="col-lg-3 col-md-1 col-sm-1 arrowContainer">
<a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1 text-center">
<div class="controlContainer">
<a href="enabled" id="check"><img src="{{url_for('static', filename='images/alphabet/check.png')}}"/></a>
</div>
</div>
</div>
                                {% elif level == "hard" %}
                                    <div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center">
<b>
<span id="num-points-text">{{_("Število pravilnih odgovorov")}}</span>
</b>
<div id="points"><span id="points-display">{{_("0")}}</span></div>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1 text-center">
<div class="letter-to-guess-container">
<div class="text-center write-medium" id="letterToGuess"><span>{{_('%(text)s', text=letter.upper())}}</span></div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-md-1 col-sm-1 arrowContainer">
<a class="elementFloatRight" id="prew-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
</div>
<div class="col-lg-6 col-md-10 col-sm-10 text-center">
<div class="imageCointainer-wrapper">
<div class="imageCointainer-padding"></div>
<div id="imageCointainer">
<img id="imageRightFlag" src="{{url_for('static', filename='images/alphabet/right_flag.png')}}"/>
<img id="imageBasicFigure" src="{{url_for('static', filename='images/alphabet/basic_figure.png')}}"/>
<img id="imageLeftFlag" src="{{url_for('static', filename='images/alphabet/left_flag.png')}}"/>
</div>
<div class="imageCointainer-padding"></div>
</div>
</div>
<div class="col-lg-3 col-md-1 col-sm-1 arrowContainer">
<a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1 text-center">
<div class="controlContainer">
<a href="enabled" id="check"><img src="{{url_for('static', filename='images/alphabet/check.png')}}"/></a>
</div>
</div>
</div>
                                {% endif %}
                            {% endif %}
                           
                        </div>
</div>
<div class="blankSpace"></div>
</div>
{{_(" Prenos vseh slik k odjemalcu, da aplikacija deluje tudi v offline nacinu ")}}
<div class="hidden all-flags">
                    {% for letter in alphabet %}
                        <img src="{{url_for('static', filename='images/alphabet/flags/'+letter+'.png')}}"/>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
</div>
</div>

{% endblock %}</div></div></body></html>