#rcorners1 {
    border-radius: 10px;
    background: #73AD21;
    padding: 20px;
    height: 50px;
}

#rcorners2 {
    border-radius: 10px;
    background: #ff1a1a;
    padding: 20px;
    height: 50px;
}

#hide_change{
    border-radius: 4px;
    height: 35px;
    width: 150px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    color: #ffffff;
    background-color: #467892;
    border: 1px solid #467892;
}

#hide_change:hover{
    color: #fff;
    background-color: #396277;
    border: 1px solid #396277;
}
