.btn-letter{
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 7px;
  font-size: 18px;
  line-height: 1.428571429;
  margin: 5px;
}

.btn-letter:focus, .btn-letter:active, .btn-letter:active:focus {
  outline: none;
}

.text-center {
   text-align:center
}
.prog-bar-well{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#next-arrow img, #prew-arrow img {
	width: 40px;
  height: 40px;
  /*max-width: calc((100% - 200px) / 2);*/
  margin-top: 5px;
  margin-bottom: 5px;
  filter: brightness(50%);
}

#next-arrow[href=next] img, #prew-arrow[href=prew] img {
  filter: brightness(100%);
}

#next-arrow:focus, #prew-arrow:focus {
  outline: none;
}

#points
{
  width: 100px;
	height: 100px;
	background: rgb(128, 159, 255);
	border-radius: 50px;
  margin:0 auto;
  margin-top:45px;
}

#poits-display{
  line-height: 100px;
  color:white;
  font-size:25px;
}

#letterInput, .letterInputClass{
  width: 50px;
	height: 50px;
	text-align:center;
	border-style: none none solid none;
	font-size: 30px;
	outline-width: 0;
	border-color: #000;
	border-width: 4px;
	margin: 5px;
}

#letterInput.correctInput, .letterInputClass.correctInput {
  border-bottom-color: rgb(36, 143, 36);
}
#letterInput.wrongInput, .letterInputClass.wrongInput {
  border-bottom-color: rgb(128, 0, 0);
}
#picture-letter.correctInput {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
#picture-letter.wrongInput {
  background-color: #c9302c;
  border-color: #ac2925;
}

.imageSelection{
  max-width:100%;
  max-height:100%;
}
.wellMarginTop{
  margin-top: 30px;
}

.level-write-easy #picture-letter:hover {
  cursor: pointer;
}

#letterToGuess span {
  font-weight: 900;
  font-size: 150px;
}

#semaphoreCanvasLeftFlag, #semaphoreCanvasRightFlag {
  border:2px solid #000000;
}

#picture-letter.image_option.not_active {
  opacity: 0.65;
  cursor: default;
}


#check img{
  max-width:10%;
  max-height:10%;
}

/* WRITE (Hard and Medium) */

#imageCointainer{
  /*border: 2px solid;*/
  text-align: center;
  margin: auto;
}

#imageBasicFigure{
  position: relative;
  z-index: 0;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#imageLeftFlag{
  transform-origin: bottom left;
  position: relative;
  z-index: 1;
  opacity: 0.65;
}

#imageRightFlag{
  transform-origin: bottom right;
  position: relative;
  z-index: 2;
  opacity: 0.65;
}

#imageRightFlag[href=enabled], #imageLeftFlag[href=enabled]{
  opacity: 1;
  z-index: 3; /* Ce je ena roka disabled, mora biti druga nad njo */
}
#imageRightFlag[href=enabled]:hover, #imageLeftFlag[href=enabled]:hover{
  cursor: pointer;
}
.controlContainer{
  margin-top: 10px;
}

/* INTRO PAGE */
.single-flag-wrap{
  float: left;
  font-size: 30px;
  text-transform: uppercase;
  margin: 50px 0;
  width: 33.3333%;
}
.show-all-flags{
  float: left;
  width: 100%;
}