.open-sans-font {
    font-family: "Open Sans", sans-serif;
}
h1 {
    text-align: center;
    color: #2E8698;
}
#auto {
    margin: auto;
    display: block;
    width: 300px;
}
/*.custom-file-upload {
    /*margin: auto;
    /*height: 30px;*/
    /*width: 400px;*/
}
/*.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 10px;
    /*border: 1px solid #ccc;*/
}*/
.file-upload-wrapper {
    margin-bottom: 10px;
}
.file-upload-input {
    width: 150px;
    color: #000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 14px; 
    border: none;
    background-color: #dddddd; 
    /* float: left; /* IE 9 Fix */
}
.file-upload-input:hover {
        background-color: #dddddd;
        outline: none; 
    }
.file-upload-input:focus { 
        background-color: #dddddd;
        outline: none; 
    }
.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 7px 20px; 
    border: 1px solid #f9a333;
    background-color: #4c5a65;
    float: left; /* IE 9 Fix */
}
.file-upload-button:hover {
    background-color: #607382;
}
#img-1 {
    margin: auto;
	display: block;
    min-height: 185px;
    min-width: 160px;
    max-height: 250px;
    /*border: 1px solid #aaaaaa;
    outline: 4px solid #eeeeee;*/
    padding-left: 12px;
    padding-right: 12px;
    /*background-image: url("generic-pic.png");
    background-repeat: no-repeat;
    background-position: center;*/
    opacity: 1;
}
textarea {
    color: #444;
    padding: 15px;
    margin-left: auto;
	margin-right: auto;
	display: block;
    margin-bottom: 1%;
}
textarea:hover {
    border: 1px solid #2E8698;
}
textarea:focus {   
    outline-color: #2E8698;
    box-shadow: 0px 0px 0px #eee inset, 0 0 2px #2e8698!important;
    outline: 0 none !important;
}
.txtstuff {
    resize: none;
    overflow: hidden;
}
.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.common {
    width: 500px;
    min-height: 80px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}
.lbr {
    line-height: 3px;
}
#offset {
    width: 50px;
    height: 25px;
    margin-left: 10px;
    outline-color: #2E8698;
}
#zamik {
    font-size: 20px;
    margin-left: 0%;
}
#buttons {
    margin: auto;
    height: 40px;
    width: 510px;
}
#right {
    margin-left: 1%;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #fff;
    background-color: #39434b;
    border: 1px solid #39434b;
}
#right:hover {
    color: #fff;
    background-color: #546471;
    border: 1px solid #39434b;
}
#left {
    margin-left: 13%;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #ffffff;
    background-color: #2E8698;
    border: 1px solid #21606D;
}
#left:hover {
	color: #ffffff;
    background-color: #226371;
    border: 1px solid #21606D;
}

#img-1{
    height:100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    text-align: center;
    font-family: "Open Sans";
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #2e8698;
    color: white;
}

.modal-body {padding: 2px 16px;}