* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
html{
    background-color:#fff;
    background-image:-webkit-radial-gradient(center, #fff, #ddd);
    background-image:-moz-radial-gradient(center, #fff, #ddd);
    background-image:radial-gradient(center, #fff, #ddd);
}

body {
    width: 1170px;
    display: block;
    margin: auto;
}

/*  TOP NAV  */

#top {
    height: 250px;
    background-color: #467892;
    background-image:-webkit-linear-gradient(top, #2b6482, #55839b);
    background-image:-moz-linear-gradient(top, #2b6482, #55839b);
    background-image:linear-gradient(top, #2b6482, #55839b);
    display: block;
    margin: auto;
}
#top h1 {
    font-size: 30px;
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}
#top img {
    display: block;
    margin: auto;
    height: 150px;
    margin-top: 20px;
}

/*  NAV-BAR  */

#nav-bar {
    height: 70px;
    background-color: #374148;
    display: block;
    margin: auto;
    border-radius: 0 0 8px 8px;
}
#nav-bar ul {
    list-style-type: none;
}
#nav-bar ul li {
    height: 48px;
    width: 150px;
    padding-top: 22px;
    float: left;
    text-align: center;
    color: #eee;
}
#nav-bar ul li:nth-child(1) {
    width: 70px;
    height: 52px;
    padding-top: 18px;
}
#nav-bar ul li:hover {
    background-color: #566671;
    cursor: pointer;
}
#home {
    height: 30px;
}

/* nav z naslovom in navodili */

#nav-bar-2 {
    background-color: #374148;
    height: 50px;
    margin-top: 30px;
    border-radius: 8px 8px 0 0;
    list-style-type: none;
}
#nav-bar-2 h2 {
    color: #eee;
    padding-top: 14px;
    padding-left: 10px;
    font-size: 16px;
    float: left;
}
#navodila {
    float: left;
    margin-top: 11px;
    margin-left: 40px;
}
#pop-up {
    background-color: #26ae90;
    border: 1px solid #26ae90;
    color: #eee;
    font-size: 16px;
    height: 30px;
    width: 110px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
#pop-up:hover {
    background-color: #3bb69b;
    cursor: pointer;
}


/* body */

.container {
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #fff;
    height: auto;
}
.container2 {
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #fff;
    height: auto;
}
#custom {
    margin: auto;
    display: block;
    width: 290px;
    margin-top: 50px;
}
.file-upload-wrapper {
    margin-bottom: 40px;
}
.file-upload-input {
    width: 140px;
    color: #000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 7px 15px; 
    border: 1px solid #2e8698;
    background-color: #eee; 
    border-radius: 0 4px 4px 0;
}
.file-upload-input:hover {
        background-color: #dddddd;
        outline: none; 
    }
.file-upload-input:focus { 
        background-color: #dddddd;
        outline: none; 
    }
.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 7px 20px; 
    border: 1px solid #4c5a65;
    border-radius: 4px 0 0 4px;
    background-color: #4c5a65;
    float: left;
}
.file-upload-button:hover {
    background-color: #607382;
}
#no-msg {
    margin-left: 50px;
    margin-top: 30px;
}
#img {
    margin: auto;
	display: block;
    min-height: 180px;
    max-width: 1000px;
    margin-bottom: 40px;
}
textarea {
    color: #444;
    padding: 18px;
    margin:auto;
    margin-top: 20px;
	display: block;
}
textarea:hover {
    border: 1px solid #467892;
}
textarea:focus, input:focus, .uneditable-input:focus {   
    border-color: #2e8698!important;
    box-shadow: 0px 0px 0px #eee inset, 0 0 6px #467892!important;
    outline: 0 none !important;
}
.txtstuff {
    resize: none;
    overflow: hidden;
}
.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.common {
    width: 400px;
    min-height: 80px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    overflow: hidden;
}
#buttons {
    margin: auto;
    height: 35px;
    width: 328px;
    padding-bottom: 20px;
}
#hide, #read {
    border-radius: 4px;
    height: 35px;
    width: 150px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
    color: #ffffff;
    background-color: #467892;
    border: 1px solid #467892;
}
#read {
    margin-left: 20px;
}
#hide:hover, #read:hover, #diff:hover {
    color: #fff;
    background-color: #396277;
    border: 1px solid #396277;
}
#img{
    height:100%;
}
#cover{
	margin-top:20px;
    max-width: 1000px;
}

#result {
	position:relative;
	display:inline-block;
    margin-top: 40px;
    margin-left: 40px;
    height: 400px;
    max-height: auto;
}
#diff {
    height: 400px;
    max-height: auto;
}
#diff {
    border-radius: 4px;
    height: 35px;
    width: 150px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
    color: #fff;
    background-color: #467892; 
    border: 1px solid #467892;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}
#diffH h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#coded{
    margin: auto;
    width: 37%;
    padding: 10px;
}

/* download button */

.btns {
    margin-top:15px;
    margin-bottom:10px;
    padding: 0 40px;
}

#download:hover {
    color:white;
    background-color:#6445ff;
}

#myCanvas3{
	border-style: solid;
	border-width: 3px;
	border-color: #467892;
}

#download {
    position:absolute;
    top:42px;
    left:4px;
    padding:10px 5px 5px 3px;
    width:10px;
    border-top:1px solid black;
    -moz-border-radius:0 0 15px 15px;
    -o-border-radius:0 0 15px 15px;
    -webkit-border-radius:0 0 15px 15px;
    border-radius:0 0 15px 15px;
    text-decoration:none;
	border:2px solid #6445ff;
    cursor:pointer;
    color:#6445ff;
    background-color:white;
}
#download:hover {
    width:70px;
}
#download:hover:after {
    content:"ownload";
}

/* pop-upi */

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.3);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    text-align: center;
    font-family: "Open Sans";
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close, .close1, .close2 {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}
.close:hover,.close:focus,
.close1:hover,.close1:focus,
.close2:hover,.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 20px 16px;
    background-color: #FA6B5C;
    color: white;
}

.modal-body {
    padding: 30px 16px;
}
#header {
    padding: 20px 16px;
    background-color: #467892;
    color: white;
}
#body-navodila {
    text-align: left;
    padding: 30px 40px;
}

#border-top {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    width: 100%;
    clear: both;
}
.clear {
    height: 30px;
    clear: both;
}
