{% extends "header.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/alphabet.css')}}" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{url_for('static', filename='js/plugins/jquery.ui.touch-punch.min.js')}}"></script>
<script type="text/javascript">
    var staticDir = "{{url_for('static', filename='')}}";
    var flagsDir = "{{url_for('static', filename='images/alphabet/'+alphabetForLearning+'/')}}";
    var letter = "{{letter}}", mode = "{{mode}}", level = "{{level}}",
    choices = "{{choices}}", alphabet = "{{alphabet}}", words = "{{words}}", alphabetForLearning="{{alphabetForLearning}}",intro="{{intro}}";
</script>
<script type="text/javascript" src = "{{url_for('static', filename='js/alphabet/alphabet.js')}}"></script>
<script type="text/javascript">
    window.onload = function(){initialize_alphabet(mode, level, alphabetForLearning);};
    //$( window ).load(function(){initialize_alphabet(mode, level, alphabetForLearning));};
    /*
    $( window ).load(function() {
         initialize_alphabet(mode, level, alphabetForLearning);
         });
    */
</script>
<!-- POP-UP INSTRUCTIONS -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div id="header">
            <span id="cl" class="close">&times;</span>
            <h2>{{_("Instructions")}}</h2>
        </div>
        <div class="modal-body">
            {% if mode == "read" %}
                {% if level == "easy" %}
                <p>
                    {{_("From displayed (latin) letters, <strong> choose </strong> the one that is
                    represented by <strong> the picture </strong>. </br> </br> If the choice
                    is <strong>correct</strong>, the button will 
                    turn green and click on the right arrow will show you a
                        new task. </br> </br> If the choice is <strong>wrong
                    </strong>, the button will turn red. In this case you can <strong> try again 
                    </strong>, until you choose the correct one. Every<strong>wrong</strong>
                    selection is <strong>punished</strong> with a negative point.</br></br>
                    By clicking on the left arrow, you can see the history of your answers.")}}
                </p>
                {% elif level == "medium" %}
                <p>
                    {{_("In the box below the image <strong>enter the letter </strong>represented by the image, 
                    and click <strong>enter</strong>. </br> </br>If
                    your answer is <strong>correct</strong>, the lower edge of the field 
                    will turn green, otherwise red.
                    </br> </br> In the case of <strong>correct</strong>
                    answer, click on the right arrow will lead you to the new task. In the 
                    case of <strong>wrong</strong> answer, you are able to try again. </br></br> Note: If you have earned 
                    enough points (with previous tasks), click on the <strong> Solve 
                    </strong>button, will show you the correct answer  for the cost of 
                    (losing) few points.</br></br>
                    By clicking on the left arrow, you can see the history of your answers.")}}
                </p>
                {% elif level == "hard" %}
                <p>
                    {{_("Click on the <strong> Start </strong> button to launch the animation.
                    </br> </br> You will be presented with a sequence of images, of whicheach
                    showing one letter. Enter the letter shown on the image below each image
                    and click <strong> Enter </strong>.The field to which you have entered 
                    the correct letter will turn 
                    <strong>green</strong>, and with the incorrect letter will turn
                    <strong>red</strong>
                    . Blank fields will remain <strong> unchanged </strong>. </br> </br> For 
                    each correctly entered letter you <strong> get one point </strong>. For 
                    each incorrectly entered letter you <strong> lose one point.</strong> If 
                    you have collected enough points with previous tasks, you can click on 
                    <strong> the button Start </strong> to change the presented sequence of 
                    images. By doing so, you lose some points.</br></br>
                    By clicking on the left arrow, you can see the history of your answers.")}}
                </p>
                {% endif %}
            {% elif mode == "write" %}
                {% if level == "easy" %}
                <p>
                    {{_("From displayed images, <strong> choose </strong> the one representing 
                    <strong> the letter shown </strong>. </br> </br> If the choice is 
                    <strong>correct</strong>, the button will turn green and click on the 
                    right arrow will show you a
                    new task. </br> </br> If the choice is <strong>wrong</strong>
                    , the button will turn red. In this case you can <strong> try again 
                    </strong>, until you choose the correct one. Every 
                    <strong>wrong</strong>answer<strong>is punished</strong>
                    with a negative point</br></br>
                    By clicking on the left arrow, you can see the history of your answers.")}}
                </p>
                {% elif level == "medium" %}
                <p>
                    {{_("From displayed images, <strong> choose </strong> the one representing 
                    <strong> the letter shown </strong>. </br> </br> If the choice is <stron>correct</strong>
                    , the button will turn green and click on the right arrow will show you a
                     new task. </br> </br> If the choice is <strong>wrong</strong>
                     , the button will turn red. In this case you can <strong> try again 
                    </strong>, until you choose the correct one. Every <strong>wrong</strong>
                    selection <strong>is punished</strong>
                    with negative point</br></br>
                    By clicking on the left arrow, you can see the history of your answers.")}}
                </p>
                {% elif level == "hard" %}
                <p> 
                    {{_("<strong> Choose </strong> the image that <strong> represents </strong>
                    the individual letter and drag and drop it to the corresponding field. 
                    </br> </br>If your choice is <strong>correct</strong> the field will turn green. 
                    If the choice is incorrect the field will turn <stron>red</strong>. 
                    Every correct answer is valued one point, and every incorrect answer, 
                    minus one point. To <strong> clear </strong> the choice, transfer the 
                    desired image from the field to <strong> the trash </strong>. <br> You 
                    can move to the next task, only if all  the images are selected 
                    correctly.</br></br>
                    By clicking on the left arrow, you can see the history of your answers.")}}
                </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default level-{{mode}}-{{level}}" >
            <div class="panel-heading" id="head">
                <div class="row">
                    <div class="splitHead">   
                        <b>
                            <span class="pozdrav1"> 
                            {%if (alphabetForLearning == "sign"): %}
                                {{_("Finger alphabet")}}
                            {%elif (alphabetForLearning == "greek")%}
                                {{_("Greek alphabet")}}
                            {%else:%}
                                {{alphabetForLearning}}
                            {%endif%}
                            </span>
                        </b>
                        {% if intro != "1" %}<button id="pop-up" class="popUpButton">{{_("Instructions")}}</button>{% endif %}
                    </div>
                    
                    <div class="splitHead">
                        <div class="menu-nav">
                            <div id="col-1" class="menu-nav-item">
                                <a class="btn btn-secondary" role="button" href="{{url_for('alphabet.index', selected_alphabet=alphabetForLearning, )}}"><img src="{{url_for('static', filename='images/home-icon.png')}}"></a>
                            </div>
                            <div id="col-2" class="menu-nav-item">
                                <div class="dropdown">
                                  <a href="" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{_("Convert from Latin")}} <span class="caret"></span></a>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='write', level='easy')}}">{{_("Easy")}}</a></li>
                                    <li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='write', level='medium')}}">{{_("Medium")}}</a></li>
                                    <li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='write', level='hard')}}">{{_("Hared")}}</a></li>
                                  </ul>
                                </div>
                            </div>
                            <div id="col-3" class="menu-nav-item">
                                <div class="dropdown">
                                  <a href="" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{_("Convert to Latin")}} <span class="caret"></span></a>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='read', level='easy')}}">{{_("Easy")}}</a></li>
                                    <li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='read', level='medium')}}">{{_("Medium")}}</a></li>
                                    <li><a href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='read', level='hard')}}">{{_("Hard")}}</a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if intro == "1" %}
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="">
                                <h1>
                                    {%if (alphabetForLearning == "sign"): %}
                                        {{_("Finger alphabet")}}
                                    {%elif (alphabetForLearning == "greek")%}
                                        {{_("Greek alphabet")}}
                                    {%else:%}
                                        {{alphabetForLearning}}
                                    {%endif%}
                                </h1>
                                <p>{{_("Welcome to pages which learn you how to communicate using different 
                                        alphabets.")}}</p>
                                <p><strong>{{_("About the alphabet:")}}</strong></p>
                                <p>
                                    {{introText}}
                                </p>
                                </br>
                                <p>{{_("Below, you can see a list of letters, which correspond to the alphabetand
                                        can be learnedusing this pages. To view a single symbol click on the 
                                        appropriatecard.")}}</p>
                            </div>
                                <div class="show-all-flags">
                                {% for letter in alphabet %}
                                {% if (loop.index) % 4 == 1 %} <div class="lineWrapper">
                                {% endif %}
                                <div class="f1_container">
                                    <div class="f1_card">
                                        {% if ((loop.index-1) // 4) % 2 == 0 %} <div class="front face {% if loop.index % 2 == 0 %}dark{% else %}light{% endif %}"><h3 class="letterA {% if loop.index % 2 == 0 %}red{% else %}blue{% endif %}">{{letter.upper()}}</h3></div>
                                        {% else %}<div class="front face {% if loop.index % 2 == 0 %}light{% else %}dark{% endif %}"><h3 class="letterA {% if loop.index % 2 == 0 %}blue{% else %}red{% endif %}">{{letter.upper()}}</h3></div>
                                        {% endif %}
                                        <div class="back face">
                                            <img src="{{url_for('static', filename='images/alphabet/'+alphabetForLearning+'/'+letter+'.png')}}"/>
                                        </div>
                                    </div>
                                </div>
                                {% if (loop.index) % 4 == 0 %}</div>
                                {% endif %}
                                {% endfor %}    
                            </div>
                            <div class="">
                                <p>{{_("Ready to start?")}}</p>
                                <a value = "Read" class="btn btn-default btn-bg {% if mode == "read" %}active{% endif %}" href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='read', level='easy')}}">{{_("Convert to Latin")}}</a>
                                <a value = "Write" class="btn btn-default btn-bg {% if mode == "write" %}active{% endif %}" href="{{url_for('alphabet.display_excercise', selected_alphabet=alphabetForLearning, mode='write', level='easy')}}">{{_("Convert from Latin")}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            
                            {% if mode == "read" %}
                                {% if level == "easy" %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center">
                                        <b>
                                            <span id="num-points-text">{{_("Correctly answered")}}</span>
                                        </b>
                                        <div id="points"><span id="points-display">0</span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
                                        <a id="prew-arrow" class="elementFloatRight"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
                                    </div>
                                    <div class="col-lg-4 col-md-8 col-sm-8 text-center" id = "coreLogic">
                                        <!-- <a id="read_easy_help" class="btn btn-default btn-bg">Pomoč</a> -->
                                        <div id="picture-letter" class="picture-letter well">
                                            <img src="{{url_for('static', filename='images/alphabet/'+alphabetForLearning+'/'+letter+'.png')}}" />
                                        </div>
                                        <!--<a id="prew-arrow"><img src="{{url_for('static', filename='prew_arrow.png')}}"/></a>-->
                                        <div id="choices" class="choices">
                                        {% for c in choices %}
                                            <button type="button" class="btn btn-info btn-letter">{{c.upper()}}</button>
                                        {% endfor %}
                                        </div>
                                        <!--<a id="next-arrow"><img src="{{url_for('static', filename='next_arrow.png')}}"/></a>-->
                                    </div>
                                    <div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
                                        <a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
                                    </div>
                                </div>
                                {% elif level == "medium" %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center">
                                        <b>
                                            <span id="num-points-text">{{_("Correctly answered")}}</span>
                                        </b>
                                        <div id="points"><span id="points-display">0</span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center solutionButtonContainer">
                                        <a id="read_medium_solution" class="btn btn-default btn-bg btn-solution">{{_("Solve")}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
                                        <a id="prew-arrow" class="elementFloatRight"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
                                    </div>
                                <div class="col-lg-4 col-md-8 col-sm-8 text-center" id = "coreLogic">
                                    <div id="picture-letter" class="picture-letter well">
                                        <img src="{{url_for('static', filename='images/alphabet/'+alphabetForLearning+'/'+letter+'.png')}}" />
                                    </div>
                                    <div class="inputContainer">
                                        <!--<a id="prew-arrow"><img src="{{url_for('static', filename='prew_arrow.png')}}"/></a>-->
                                        <input id="letterInput" type="text" value="" maxlength="1">
                                        <!--<a id="next-arrow"><img src="{{url_for('static', filename='next_arrow.png')}}"/></a>-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
                                    <a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
                                </div>
                                {% elif level == "hard" %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center">
                                        <b>
                                            <span id="num-points-text">{{_("Correctly answered")}}</span>
                                        </b>
                                        <div id="points"><span id="points-display">0</span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-4 text-center solutionButtonContainer">
                                        <a id="start-animation" class="btn btn-default btn-bg btn-solution">{{_("Start!")}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
                                        <a id="prew-arrow" class="elementFloatRight"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
                                    </div>
                                <div class="col-lg-4 col-md-8 col-sm-8 text-center" id = "coreLogic">
                                    <div id="picture-letter" class="well picture-letter"></div>
                                    <!--<a id="prew-arrow"><img src="{{url_for('static', filename='prew_arrow.png')}}"/></a>-->
                                    <div id="input-string-hard"></div>
                                    <!--<a id="next-arrow"><img src="{{url_for('static', filename='next_arrow.png')}}"/></a>-->
                                </div>
                                <div class="col-lg-4 col-md-2 col-sm-2 arrowContainer">
                                    <a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
                                </div>
                                {% endif %}
                            {% elif mode == "write" %}
                                {% if level == "easy" %} 
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center">
                                        <b>
                                            <span id="num-points-text">{{_("Correctly answered")}}</span>
                                        </b>
                                        <div id="points"><span id="points-display">0</span></div>
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 arrowContainer">
                                        <a id="prew-arrow" class="elementFloatRight"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                                        <div id="letterToGuess" class="letterToGuess text-center"><span>{{letter.upper()}}</span></div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 arrowContainer">
                                        <a id="next-arrow"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-center wellMarginTop" id = "coreLogic">
                                        <div class="row">
                                            <div id="choices" class="choices-container containerTest"> <!--class="choicesBucket" -->
                                                {% for c in choices %}
                                                    <div class="imageSelectionWrap picture-letter-write">
                                                        <div id="picture-letter" class="image_option">
                                                            <a><img class="imageSelection" src="{{url_for('static', filename='images/alphabet/'+alphabetForLearning+'/'+c+'.png')}}" /></a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                     </div>
                                 </div>   
                                   
                                   
                                {% elif level == "medium" %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center">
                                        <b>
                                            <span id="num-points-text">{{_("Correctly answered")}}</span>
                                        </b>
                                        <div id="points"><span id="points-display">0</span></div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 arrowContainer">

                                        <a id="prew-arrow-generic" class="elementFloatRight"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                                        <div id="letterToGuess" class="letterToGuess text-center"><span>{{letter.upper()}}</span></div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 arrowContainer">

                                        <a id="next-arrow-generic"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="multipleImageContainerWrapper">
                                            <div class="multipleImageContainer" id="imageContaineralphabet">
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                
                                
                                {% elif level == "hard" %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center">
                                        <b>
                                            <span id="num-points-text">{{_("Correctly answered")}}</span>
                                        </b>
                                        <div id="points"><span id="points-display">0</span></div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="prewArrowGenericWrapper">
                                        <a id="prew-arrow-generic" class="elementFloatRight"><img src="{{url_for('static', filename='images/alphabet/arrow-left.png')}}"/></a>
                                    </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <div class="task">
                                            <div class="taskContainerWrapper">
                                                <div class="taskContainer elements-center" ></div>
                                            </div>
                                            <!--<div dragable="false" ondrop='dropInTrash(event)' ondragover='allowDropTrash(event)' ondragleave="dragLeaveTrash(event)" class="trashCan"><a><img src="{{url_for('static', filename='trashCan.png')}}"></a></div>-->
                                        </div>
                                        <div class="controlContainerGeneric">
                                            
                                            <a id="checkGeneric" href="enabled"><img src="{{url_for('static', filename='images/alphabet/check.png')}}"/></a>
                                            <div dragable="false" ondrop='dropInTrash(event)' ondragover='allowDropTrash(event)' ondragleave="dragLeaveTrash(event)" class="trashCan"><a><img src="{{url_for('static', filename='images/alphabet/trashCan.png')}}"></a></div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="nextArrowGenericWrapper">
                                            <a id="next-arrow-generic"><img src="{{url_for('static', filename='images/alphabet/arrow-right.png')}}"/></a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 text-center">

                                        <div class="allImageContainer">
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                           
                        </div>
                    </div>
                    <div class="blankSpace"></div>
                </div>
                
                <!-- Prenos vseh slik k odjemalcu, da aplikacija deluje tudi v offline nacinu -->
                <div class="hidden all-flags">
                    {% for letter in alphabet %}
                        <img src="{{url_for('static', filename='images/alphabet/'+alphabetForLearning+'/'+letter+'.png')}}" />
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
