{% extends "main.html" %}
{% block body %}
<script type="text/javascript" src = "{{url_for('static', filename='alphabet.js')}}"></script>
<script type="text/javascript">
    var letter = "{{letter}}", mode = "{{mode}}", level = "{{level}}",
    choices = "{{choices}}";
    window.onload = function(){initialize_alphabet(mode, level);};
</script>

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default" >
            <div class="panel-heading" id="glava">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <b><span class="pozdrav1">Zastavice</span></b>
                    </div>
                    <div id ="buttons">
                            <button value = "Begin" class="btn btn-default btn-bg" id="begin">Začni</button>
                    </div>
                </div>
            </div>
            <a class="btn btn-default btn-bg" href="{{url_for('alphabet.display_excercise', selected_alphabet='flags', mode='read', level='easy')}}">Lahko</a>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-lg-12 col-md-12 col-sm-12" id = "coreLogic">
                            {% if mode == "read" %}
                                {% if level == "easy" %}
                                    <img src="{{url_for('static', filename='images/flags/'+letter+'.png')}}" />
                                    <div id="choices">
                                    {% for c in choices %}
                                        <button>{% print c %}</button>
                                    {% endfor %}
                                    </div>
                                {% elif level == "hard" %}
                                    Branje, težko
                                {% endif %}
                            {% elif mode == "write" %}
                                {% if level == "easy" %}
                                    Pisanje, lahko
                                {% elif level == "hard" %}
                                    Pisanje, težko
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
