{% extends "main.html" %}
{% block body %}
<script type="text/javascript" src = "{{url_for('static', filename='alphabet.js')}}"></script>
<script type="text/javascript">
    var letter = "{{letter}}", mode = "{{mode}}", level = "{{level}}",
    choices = "{{choices}}";
    window.onload = function(){initialize_alphabet(mode, level);};
</script>

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default" >
            <div class="panel-heading" id="glava">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <b><span class="pozdrav1">Semafor</span></b>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class ="pull-right" id ="buttons">
                                <button value = "Read" class="btn btn-default btn-bg">Branje</button>
                                <button value = "Write" class="btn btn-default btn-bg">Pisanje</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="well text-center margin">
                        <a class="btn btn-default btn-bg" href="{{url_for('alphabet.display_excercise', selected_alphabet='flags', mode='read', level='easy')}}">Lahko</a>
                        <a class="btn btn-default btn-bg" href="{{url_for('alphabet.display_excercise', selected_alphabet='flags', mode='read', level='medium')}}">Srednje</a>
                        <a class="btn btn-default btn-bg" href="{{url_for('alphabet.display_excercise', selected_alphabet='flags', mode='read', level='hard')}}">Težko</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center" id = "coreLogic">
                            {% if mode == "read" %}
                                {% if level == "easy" %}
                                    <div id="picture-letter" class="well">
                                        <img src="{{url_for('static', filename='images/flags/'+letter+'.png')}}" />
                                    </div>
                                    <div id="choices">
                                    {% for c in choices %}
                                        <button type="button" class="btn btn-info btn-circle btn-lg ">{% print c.upper() %}</button>
                                    {% endfor %}
                                    </div>
                                {% elif level == "hard" %}
                                    Branje, težko
                                {% endif %}
                            {% elif mode == "write" %}
                                {% if level == "easy" %}
                                    Pisanje, lahko
                                {% elif level == "hard" %}
                                    Pisanje, težko
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
