{% extends "index.html" %}
{% block body %}

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="head">
                <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<b><span class="pozdrav1">Zgoščevalne funkcije</span></b>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="container-fluid">
					<p>Zgoščevanje je generiranje neke vrednosti iz poljubnega niza znakov s pomočjo matematične funkcije. Zgoščevalna funkcija pa je funkcija, ki vzame nek vhodni niz in generira drugačen niz, za
njo pa morajo veljati pravila.
<ol style="margin-top: 10px;">
<li>Zgoščevalne funkcijo morajo biti deterministične, kar pomeni, da morajo za določen vhod
vedno vrniti enak izhod.</li>
<li>Zgoščevalne funkcije morajo stremeti k temu, da so uniformne, torej da dva različna vhoda ne
moreta tvoriti enakega izhoda. To je v praksi zelo težko doseči in so ponavadi zadovoljive
zgoščevalne funkcije, kjer je verjetnost sovpadanja dovolj majhna.</li>
<li>Zgoščevalne funkcije vzamejo vhodni niz poljubne dolžine in ga pretvorijo v niz točno
določene dolžine.</li>
<li>Zgoščevalne funkcije morajo oz. morajo stremeti k temu, da so enosmerne, kar pomeni, da iz
izhoda ne smemo dobiti vhodnega parametra.</li>
</ol>	
<p>  <img src="{{url_for('static', filename='images/hash/hash_ucenci.png')}}" alt="Ucenci" style="float:right;margin:0 20px 20px 0; width:300px; height:300px"/>
<p><br>
Recimo, da imamo v razredu 5 učencev.
<ul>
<li>Janez Korenina</li>
<li>Zala Novak</li>
<li>Miha Copatar</li>
<li>Zvonko Nagode</li>
<li>Tone Rastlina</li>
</ul>
<br>
Vzamimo funkcijo F(), ki za vhod prejme učenca in ga zapiše kot niz začetnic imena in priimka.
Dobimo torej vrednosti, kot so JK, ZN, itd.
</p><br>		
Bi lahko rekli funkciji F() zgoščevalna funkcija?
<ul>
<li>Pogoj 1 je izpolnjen, saj bo Janez Korenina vsakič zgoščen v JK.
<li>Pogoj 2 ni izpolnjen, saj Zala Novak in Zvonko Nagode tvorita enak izhod, tj. ZN. Verjetnost, da imata izmed petih učencev dva enake začetnice, je sicer majhna (1,6%), a v
svetu zgoščevalnih funkcij je to ogromno. Kot primer lahko vzamemo tudi scenarij, kjer je v razredu 20 učencev. Takrat je verjetnost, da imata dva učenca enak izhod že 26,5%.
<li>Pogoj 3 je izpolnjen, saj je izhod vedno dolžine 2 (ignorirajmo za zdaj primere, ko ima učenec
več kot eno ime ali priimek).
<li>Pogoj 4 ni izpolnjen, saj iz izhoda lahko vidimo, kakšen je bil vhod. Npr. ZN ne more biti nič
drugega kot Zala Novak, saj je edina z začetnicami Z in N. Tudi v primeru, ko obstajata dva ali
več učencev z istimi začetnicami, lahko omejimo možen nabor imen, ki jim pripada.
</ul>		
<p><br>
Kot vidimo, ta F() ne bi bil kaj preveč prida, zato bi si morali izmisliti boljšo zgoščevalno funkcijo. Na
srečo pa lahko izberemo že kakšno izmed obstoječih, kot so SHA-256, SHA-512, Bcrypt in mnoge druge.
<p><br>
Kje se zgoščevanje uporablja?
<ul>
<li>Shranjevanje podatkov v tabeli – Namesto, da iščemo nek zapis po tabeli, lahko izračunamo
zgostitev in takoj skočimo na mesto v tabeli, ki ga referencira ta zgostitev. Bolj kot lastnost
enosmernosti je tukaj pomembno, da pri zgoščevanju prihaja do čim manj sovpadanj.
<li>Preverjanje enakosti podatkov – Tukaj gre za zgoščevalne funkcije, kjer si želimo, da tudi
najmanjša sprememba v vhodnem nizu vrne čim bolj različno zgoščeno vrednost. Predvsem
se uporablja pri preverjanju pravilnosti oz. enakosti podatkov. Če imamo na voljo zgostitev
nekih podatkov, ki ji zaupamo, da je prava, lahko zgostitev izračunamo sami in primerjamo.
Če je enaka, so podatki najverjetneje identični. Uporablja se pri prenosu datotek, itd.
<li>Shranjevanje gesel – Namesto, da bi shranili gesla v svoji prvotni obliki, shranimo zgoščene
vrednosti gesel v bazo. Tako zagotovimo, da gesla uporabnikov ostanejo neznana, tudi če
napadalec vdre v naš sistem.
Pomankljivost takšnega shranjevanje gesel so postale t.i. mavrične tabele, ki vsebujejo slovar
gesel in njihovih zgoščenih vrednosti v različnih algoritmih, ki so jih nepridipravi odkrili do
sedaj. To pa lahko rešimo na enostaven način, in sicer tako, da uporabnikovemu geslu
dodamo t. i. <em>sol</em>. To je naključen niz, ki ga potem skupaj z geslom zgostimo in shranimo v
podatkovno bazo. Ta naključnost zagotovi, da v mavričnih tabelah, tudi če obstaja zapis za
geslo, ne najdemo takšnega zapisa.
</ul>
				</div>	
			</div>	
			<div id="swatch" class="ui-widget-content ui-corner-all"></div>
		</div>
	</div>
</div>

{% endblock %}
