<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{_("Cryptogram")}}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"/>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/header.css')}}" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/crypto.js')}}"></script>
    <script type="text/javascript">
        var AVAILABLE_LANGUAGES = "{{session['LANGUAGES']}}";
        var CURRENT_LANGUAGE = "{{session['language']}}";
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav id="top">
    <h1>{{_("Cryptogram")}}</h1>
    <a href="{{url_for('index')}}">
        <img src="{{url_for('static', filename='images/logo.png')}}" />
    </a>    
</nav>

<!-- nav-bar -->
<nav id="nav-bar">
    <ul>
         <li class="locale dropdown">
            <a class="locale-btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for(request.endpoint, **request.view_args)}}">
                    <img src="{{url_for('static', filename='images/locale/'+CURRENT_LANGUAGE+'.svg')}}" class="locale">
            </a>
            <ul class="dropdown-menu">
                {% for language in AVAILABLE_LANGUAGES %}
                    {% if CURRENT_LANGUAGE == language %}
                        
                    {% else %}
                        <li class="locale">
                        <a href="{{url_for(request.endpoint, language=language, **request.view_args)}}">
                            <img src="{{url_for('static', filename='images/locale/'+language+'.svg')}}" class="locale">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
       
        <li class="home">
            <a class="btn btn-secondary" role="button" href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='images/home-icon.png')}}" id='home'>
            </a>
        </li>
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('substitution.index')}}">{{_("Substitution")}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a>{{_("Level")}}</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('substitution.play', difficulty='easy')}}">{{_("Easy")}}</a></li>
                <li><a href="{{url_for('substitution.play', difficulty='medium')}}">{{_("Medium")}}</a></li>
                <li><a href="{{url_for('substitution.play', difficulty='hard')}}">{{_("Hard")}}</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('substitution.play', difficulty='caesar')}}">{{_("Caesar cipher")}}</a></li>
                 <li class="divider"></li>
                <li><a href="{{url_for('substitution.leaderboard', difficulty='easy')}}">{{_("Scoreboard")}}</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('substitution.play', difficulty='ready')}}">{{_("Substitution puzzles")}}</a></li>
            </ul>
        </li>
        
        
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('transposition.index')}}">{{_("Transposition")}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('transposition.description')}}">{{_("What are transposition ciphers?")}}</a></li>
                <li><a href="{{url_for('transposition.play')}}">{{_("TransGAME (by levels)")}}</a></li>
            </ul>
        </li>
        
        
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('steganography.index')}}">{{_("Steganography")}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {# <li><a href="{{url_for('steganography.colors')}}">{{_("Mixing colors")}}</a></li> #}
                <li><a href="{{url_for('steganography.images')}}">{{_("Hide a message in a image")}}</a></li>
                <li><a href="{{url_for('visual.index')}}">{{_("Visual cryptography")}}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('alphabet.index')}}">{{_("Alphabet")}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('alphabet.flags')}}">{{_("Semaphor")}}</a></li>
                <li><a href="{{url_for('alphabet.sign')}}">{{_("Finger alphabet")}}</a></li>
                <li><a href="{{url_for('alphabet.greek')}}">{{_("Greek alphabet")}}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('timestamp.index')}}">{{_("Timestamp")}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('timestamp.index')}}">{{_("What is a timestamp?")}}</a></li>
                <li><a href="{{url_for('timestamp.signature')}}">{{_("Timestamp a document")}}</a></li>
                <li><a href="{{url_for('timestamp.checking')}}">{{_("Check a timestamp")}}</a></li>
                <li><a href="{{url_for('timestamp.pubkey')}}">{{_("Server's public key")}}</a></li>
            </ul>
        </li>
        <li>
            <a class="btn btn-secondary" role="button" href="{{url_for('password.index')}}">{{_("Password")}}</a>
        </li>
	<li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('hash.index')}}">{{_("Hashing")}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('hash.index')}}">{{_("Hash functions")}}</a></li>
		<li><a href="{{url_for('hash.examples')}}">{{_("Try yourself!")}}</a></li>
            </ul>
        </li>
    </ul>
</nav>

{% block body %}
{% endblock %}

</body>
</html>
