<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{_("Kriptogram")}}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"/>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/header.css')}}" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/crypto.js')}}"></script>
    <script type="text/javascript">
        var AVAILABLE_LANGUAGES = "{{session['LANGUAGES']}}";
        var CURRENT_LANGUAGE = "{{session['language']}}";
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav id="top">
    <h1>{{_("Kriptogram")}}</h1>
    <a href="{{url_for('index')}}">
        <img src="{{url_for('static', filename='images/logo.png')}}" />
    </a>    
</nav>

<!-- nav-bar -->
<nav id="nav-bar">
    <ul>
         <li class="locale dropdown">
            <a class="locale-btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for(request.endpoint, **request.view_args)}}">
                    <img src="{{url_for('static', filename='images/locale/'+CURRENT_LANGUAGE+'.svg')}}" class="locale">
            </a>
            <ul class="dropdown-menu">
                {% for language in AVAILABLE_LANGUAGES %}
                    {% if CURRENT_LANGUAGE == language %}
                        
                    {% else %}
                        <li class="locale">
                        <a href="{{url_for(request.endpoint, language=language, **request.view_args)}}">
                            <img src="{{url_for('static', filename='images/locale/'+language+'.svg')}}" class="locale">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
       
        <li class="home">
            <a class="btn btn-secondary" role="button" href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='images/home-icon.png')}}" id='home'>
            </a>
        </li>
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('substitution.index')}}">{{_("Zamenjalka")}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a>{{_("Težavnosti")}}</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('substitution.play', difficulty='easy')}}">{{_("Lahko")}}</a></li>
                <li><a href="{{url_for('substitution.play', difficulty='medium')}}">{{_("Srednje")}}</a></li>
                <li><a href="{{url_for('substitution.play', difficulty='hard')}}">{{_("Težko")}}</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('substitution.play', difficulty='caesar')}}">{{_("Cezarjeva šifra")}}</a></li>
                 <li class="divider"></li>
                <li><a href="{{url_for('substitution.leaderboard', difficulty='easy')}}">{{_("Lestvice")}}</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('substitution.play', difficulty='ready')}}">{{_("Pripravljene zamenjalke")}}</a></li>
            </ul>
        </li>
        
        
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('transposition.index')}}">{{_("Premešalka")}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('transposition.description')}}">{{_("Kaj so transpozicijske šifre?")}}</a></li>
                <li><a href="{{url_for('transposition.play')}}">{{_("Naloge (lahko/srednje/težko)")}}</a></li>
            </ul>
        </li>
        
        
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('steganography.index')}}">{{_("Steganografija")}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {# <li><a href="{{url_for('steganography.colors')}}">{{_("Mešanje barv")}}</a></li> #}
                <li><a href="{{url_for('steganography.images')}}">{{_("Skrivanje sporočila v sliko")}}</a></li>
                <li><a href="{{url_for('visual.index')}}">{{_("Vizualna kriptografija")}}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('alphabet.index')}}">{{_("Abeceda")}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('alphabet.flags')}}">{{_("Semafor")}}</a></li>
                <li><a href="{{url_for('alphabet.sign')}}">{{_("Znakovna abeceda")}}</a></li>
                <li><a href="{{url_for('alphabet.greek')}}">{{_("Grška abeceda")}}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('timestamp.index')}}">{{_("Časovni žig ")}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('timestamp.index')}}">{{_("Kaj je časovni žig?")}}</a></li>
                <li><a href="{{url_for('timestamp.signature')}}">{{_("Časovno žigosanje dokumenta")}}</a></li>
                <li><a href="{{url_for('timestamp.checking')}}">{{_("Preverjanje časovnega žiga")}}</a></li>
                <li><a href="{{url_for('timestamp.pubkey')}}">{{_("Javni ključ strežnika")}}</a></li>
            </ul>
        </li>
        <li>
            <a class="btn btn-secondary" role="button" href="{{url_for('password.index')}}">{{_("Geslo")}}</a>
        </li>
	<li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="{{url_for('hash.index')}}">{{_("Zgoščevanje")}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('hash.index')}}">{{_("Zgoščevalne funkcije")}}</a></li>
		<li><a href="{{url_for('hash.examples')}}">{{_("Poizkusite sami")}}</a></li>
            </ul>
        </li>
    </ul>
</nav>

{% block body %}
{% endblock %}

</body>
</html>
