{% extends "header.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
{% endblock %}
{% block body %}
<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default level-{{mode}}-{{level}}" >
            <div class="panel-heading" id="head">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 alignVerticalCenter">
                        <b><span class="pozdrav1">{{_("Welcome to Cryptogram")}}</span></b>
                    </div>
                </div>
            </div>
    <section id="left">
        <div id="text">
            <p id="first-p">
                {{_("Welcome to web-portal <strong>Cryptogram</strong>,
                is intended for all curious, especially for those who want to solve cryptographic puzzles.")}}
                <br><br>
                {{_("Take your chances against several")}} <a href="{{ url_for('substitution.index') }}">{{_("substitution ciphers")}}</a>
                {{_("and discover secret conversations and texts. Lern how 
                ")}} <a href="{{ url_for('steganography.images') }}">{{_("to hide")}}</a>
                {{_("hide and rediscover secret messages in a image. Learn new")}} 
                <a href="{{ url_for('alphabet.index') }}">{{_("alphabets.")}}</a>,
                {{_("They can talk for you, when you can not.")}}
            </p>
            <h3>{{_("What is CRYPTOGRAM?")}}</h3>
            <p id="second-p">
                {{_("In general, a cryptogram denotes any encrypted text. If the cipher used 
                is simple enough,the cryptogram can be deciphered by hand. Ciphers which 
                are used the most, are substitution ciphers. Substitution ciphercipher a 
                text by changing every letter of the text with a different letter or a 
                number.")}}
                <br>
                {{_("Although, substitution ciphers were once used for more serious purposes,
                nowdays they are mostly used for entertainment, i.e. puzzels in 
                newspapers or magazines where, to solve a puzzle, onceneeds to 
                reconstruct an intial text from a cryptogram.")}}
            </p>

            <h3>{{_("About the Cryptogram project")}}</h3>
            <p>
                {{_("Web portal Cryptogram is developed as a part of the Innovative Project
                for Social Benefit (2017). It is a product of the collaboration of
                students fromthe Faculty of Computer and Information Science, University
                of Ljubljana, and members of the Slovenian Society of Cryptology.")}}
            </p>
        </div>
        <div id="riddle">
            <img src="{{ url_for('static', filename='images/bell.png') }}">
            <button id="riddle-btn">{{_("Week's riddle")}}</button>
            <div id="riddle-txt">
                <div id="riddle-content">
                    <p>
                   {{_("Let assume we have a fly, blank spider and four (distant) nodes. The 
                   spider makes a net which fully connects all four nodes. The fly and the 
                   spider are placed in distant nodes. The fly cannot move and the spider 
                   moves randomly between nodes. Find the answers to following (interesting)
                    questions:")}}
                    </p>
                    <p>
                    <ol type="a">
                    <li>
                    {{_("What is the expected number of moves (between nodes) that the spider will
                    make before it meets the fly?")}}
                    <br /><br />
                    {{_("What if the quadruple is replaced by
                    </li>
                    <li>the cube,</li>
                    <li>the octahedar,</li>
                    <li>dodecahedron, or</li>
                    <li>icosahedron?</li>
                    </ol>")}}
                    </p>
                    <p>
                    {{_("This week's puzzle can be found at")}}
                    <a href="https://ucilnica.fri.uni-lj.si/uganka">{{_("FRI web-classroom.")}}</a>.
                    </p>
                </div>
                <a id="riddle-img" href="{{ url_for('static', filename='images/riddle/cetverec.png') }}">
                    <img src="{{ url_for('static', filename='images/riddle/cetverec.png') }}">
                </a>
            </div>
        </div>
    </section>
    <section id="right">
        <div id="kvizko">
            <img src={{ url_for('static', filename='images/e-kvizko.png') }}>
            <button onclick="document.getElementById('kvizkolink').click()">
                <a href="https://equiz.fri.uni-lj.si/welcome"
                   id="kvizkolink" target="_blank">{{_("Kvizko app")}}</a>
            </button>
            <p>{{_("The application is aimed for testing (and improving) your knowledge of 
                    various subject you have learned. Furthermore, it provides you thoughtful
                     entertainment anywhere and anytime. <br><br>This app brings you various 
                    problems, i.e. form Bober and Presek over 40-year period.Solving 
                    problems, one can compete with others or use it as a free time 
                    preoccupation.")}}</p>
        </div>
    </section>
{#
    <div id="newsletter">
        <h3>{{_("CRYPTO news")}}</h3>
        <p>{{_("Subscribe...")}}</p>
        <input type="email" placeholder="E-mail">
        <button>{{_("Confirm")}}</button>
    </div>
#}
    <div id="logos">
        <img src={{ url_for('static', filename='images/image002.png') }}>
        <img src={{ url_for('static', filename='images/image004.jpg') }}>
        <img src={{ url_for('static', filename='images/image006.jpg') }}>
        <img src={{ url_for('static', filename='images/image008.jpg') }}>
    </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            $("#riddle-btn").click(function () {
                $("#riddle-txt").toggle();
            });
        });
    </script>
{% endblock %}
