{% extends "header.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/password.css')}}" />
{% endblock %}



{% block body %}



    <div class="blank-row" style="height: 25px;"></div>

    <div class="row row-spacing">

        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <h3><i class="glyphicon glyphicon-lock" style="font-size:300%;"></i></h3>
                                        <h2 class="text-center">MERJENJE MOČI GESLA</h2>
                                        <div class="panel-body">
                                            <form class="form" method="POST" name="pass_form">
                                                <div class="form-group">
                                                    <label>GESLO</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="glyphicon glyphicon-pencil" ></i>
                                                        </div>
                                                        <input class="form-control" autocomplete="off" data-val-length-max="60" data-val-length-min="1" data-val-required="Vpisati morate geslo" name="pass" id="pass" placeholder="Vpišite geslo" rows="12" type="text" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" id="progress-bar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>

                                                <label>INFORMACIJE O GESLU</label>

                                                <table class="table">
                                                    <tbody style="text-align: left;">
                                                    <tr>
                                                        <td>Približek števila ugibanj za razbitje gesla:</td>
                                                        <td id="est-gues"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Časovna ocena razbijanja gesla:</td>
                                                        <td id="est-time"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Priporočila za geslo:</td>
                                                        <td id="priporocilo"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Opozorilo za geslo:</td>
                                                        <td id="opozorilo"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>


                                                {#                                                <div class="form-group">#}
                                                {##}
                                                {#                                                    <div style="text-align: left">#}
                                                {#                                                        <span> Približek števila ugibanj za razbitje gesla: </span>#}
                                                {#                                                    </div>#}
                                                {#                                                    <div style="text-align: left;">#}
                                                {#                                                        <span style=" width: 270px;"> Časovna ocena razbijanja gesla: </span>#}
                                                {#                                                    </div>#}
                                                {#                                                    <div style="text-align: left">#}
                                                {#                                                        <span> Priporočila za geslo: </span>#}
                                                {#                                                    </div>#}
                                                {#                                                </div>#}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">
        check_url = '{{url_for("password.check")}}';
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/password/password.js')}}"></script>

{% endblock %}



{#{% block body %}#}
{##}
{#    <script type="text/javascript">#}
{##}
{#        $(document).ready(function(){#}
{##}
{#            var $pass = $('#pass');#}
{##}
{#            var delay = (function(){#}
{#                var timer = 0;#}
{#                return function(callback, ms){#}
{#                    clearTimeout (timer);#}
{#                    timer = setTimeout(callback, ms);#}
{#                };#}
{#            })();#}
{##}
{#            /** Ko nehamo z vpisom gesla se ta poslje na server, server pa nazaj poslje moc gesla */#}
{#            $('input').keyup(function() {#}
{#                delay(function(){#}
{##}
{#                    if ($pass != null && $pass.val().length > 0) {#}
{#                        /** AJAX */#}
{#                        $.getJSON('/password/check', {#}
{#                            pass: $('#pass').val(),#}
{#                        }, function(data) {#}
{#                            var progress = (data.result + 1) * 20;#}
{#                            var COLORS = ['#b22222', 'orange', '#ffd800', '#2f76a7', 'green']#}
{#                            var STRENGTH = ['Zelo šibko geslo', 'Šibko geslo', 'V redu geslo', 'Dobro geslo', 'Zelo dobro geslo']#}
{#                            $("#progress-bar").css({width:  progress + '%', backgroundColor: COLORS[data.result], fontWeight: 'bold'}).text(STRENGTH[data.result]);#}
{#                        });#}
{#                        return false;#}
{#                    } else {#}
{#                        $("#progress-bar").css({width: '0%'}).text('');#}
{#                    }#}
{#                }, 1000 );#}
{#            });#}
{#        });#}
{##}
{#    </script>#}
{##}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="row">#}
{#                <div class="row">#}
{#                    <div class="col-md-6 col-md-offset-3">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-body">#}
{#                                <div class="text-center">#}
{#                                    <h3><i class="glyphicon glyphicon-lock" style="font-size:300%;"></i></h3>#}
{#                                    <h2 class="text-center">Merjenje moči gesla</h2>#}
{#                                    <div class="panel-body">#}
{#                                        <form class="form" method="POST" name="pass_form">#}
{#                                            <div class="form-group">#}
{#                                                <label>Geslo</label>#}
{#                                                <div class="input-group">#}
{#                                                    <div class="input-group-addon">#}
{#                                                        <i class="glyphicon glyphicon-pencil" ></i>#}
{#                                                    </div>#}
{#                                                    <input class="form-control" autocomplete="off" data-val-length-max="60" data-val-length-min="1" data-val-required="Vpisati morate geslo" name="pass" id="pass" placeholder="Vpišite geslo" rows="12" type="text" />#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="progress">#}
{#                                                    <div class="progress-bar" role="progressbar" id="progress-bar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">#}
{#                                                        <span class="sr-only">25% Complete</span>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{%  endblock %}#}
