{% extends "header.html" %}
{% block body %}
		<script src="{{url_for('static', filename='js/steganography/pixelmatch.js')}}"></script>
		<script src="{{url_for('static', filename='js/steganography/steg.js')}}"></script>
		<script src="{{url_for('static', filename='js/steganography/steganography.js')}}"></script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/steganography.css')}}" />

    <!-- pop up nasvet + omejitve -->

<div id="myModal1" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl1" class="close1">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>Izberite slikovno datoteko!</p>
        </div>
    </div>
</div>
<div id="myModal2" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl2" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>Datoteka je prevelika! Največja dovoljena 2 MB.</p>
        </div>
    </div>
</div>
<div id="myModal3" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl3" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>V sliko poskušate zakodirati preveč besedila!</p>
        </div>
    </div>
</div>
<div id="myModal4" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl4" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>V tekstovno polje niste vnesli besedila, ki ga želite zakodirati!</p>
        </div>
    </div>
</div>
<div id="myModal5" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl5" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>Prosim naložite sliko!</p>
        </div>
    </div>
</div>

<div id="myModal6" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl6" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>Datoteka je prevelikih dimenzij. Maksimalna dovoljena dimenzija je 1000 x 1000 px.</p>
        </div>
    </div>
</div>
    
    <ul id="nav-bar-2">
        <li><h2>Skrivanje sporočila v sliko</h2></li>
        <li id="navodila"><button id="pop-up">Navodila</button></li>
    </ul>
    
    
    <div class="container2">
        
        <!-- Upload in prikaz slik -->

        <div id="custom"><div class="custom-file-upload">
            <input type="file" id="file" name="file"/>
        </div></div>
        
        <img id="img" src="{{url_for('static', filename='images/generic-pic1.png')}}">

        <div id="coded"><p>Število kodiranih znakov </p><span id="capacity"></span></h2> </div>
        <textarea id="text" class="common" placeholder="Vpiši sporočilo..."></textarea><br>
        
        <div id="buttons">
           
            <button id="hide" class="open-sans-font">Skrij sporočilo</button>
            <button id="read" class="open-sans-font">Razkrij sporočilo</button>
                   
        </div>
        
        <div id="border-top"></div>
        <div id="hidden" style="display: none;">
            <div id="result">

                <h4>Slika s sporočilom:</h4>
                <img id="cover" src=""/>
                <button style="display: none;" id="download" onclick="document.getElementById('dlink').click()"><a id="dlink" download="prenos.png" rel="nofollow">Prenos</a></button>

                <div id="diffH" style="display: none;">
                    <h4>Razlika med slikama:</h4>
                    <canvas id="myCanvas3"> </canvas>
                </div>
                <button id="diff">Prikaži razliko</button>
            </div>
        </div>
    </div>
	
 <script type="text/javascript">
 window.onload = function(){
			document.getElementById('file').addEventListener('change', handleFileSelect, false);
			document.getElementById('hide').addEventListener('click', hide, false);
			document.getElementById('read').addEventListener('click', read, false);
			document.getElementById('diff').addEventListener('click', difference, false);
			document.getElementById('text').addEventListener('keyup', updateCapacity, false);
			updateCapacity();
            document.getElementById('myCanvas3').style.visibility='hidden';
		};
		</script>
		
{% endblock %}
