{% extends "main.html" %}
{% block body %}
		<script src="{{url_for('static', filename='pixelmatch.js')}}"></script>
		<script src="{{url_for('static', filename='steg.js')}}"></script>
		<script src="{{url_for('static', filename='steganography.js')}}"></script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='steg.css')}}" />
    
<!-- pop-up navodila -->
    
    <div id="myModal" class="modal">
    <div class="modal-content">
        <div id="header">
            <span id="cl" class="close">&times;</span>
            <h2>Navodila</h2>
        </div>
        <div class="modal-body" id="body-navodila">
            <p>Steganografija je veda, kjer gre za prikrivanje datoteke, sporočila, slike ali videa v drugo datoteko, sporočilo, sliko ali video. Za razliko od kriptografije oziroma šifriranja podatkov, katere cilj je narediti podatke neberljive, steganografija poskuša prikriti obstoj podatkov. Cilj je onemogočiti zaznavo podatkov, ki so skriti v navidez nepomembnih podatkih. Spletna stran omogoča skrivanje sporočila v sliko. Na spletno stran lahko naložite svojo sliko. V njo pa lahko zakodirate sporočilo, ali pa ga odkodirate v primeru, da se sporočilo v sliki že nahaja. Zato, ker se razlike med slikama na vidi s prostim očesom. Stran tudi omogoča vizualni prikaz razlike, ki nastane. </p>
        </div>
    </div>
    </div>

    
    <!-- pop up nasvet + omejitve -->

<div id="myModal1" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl1" class="close1">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>Izberite slikovno datoteko!</p>
        </div>
    </div>
</div>
<div id="myModal2" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl2" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>Datoteka je prevelika!</p>
        </div>
    </div>
</div>
<div id="myModal3" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl3" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>V sliko poskušate zakodirati preveč besedila!</p>
        </div>
    </div>
</div>
<div id="myModal4" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl4" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>V tekstovno polje niste vnesli besedila, ki ga želite zakodirati!</p>
        </div>
    </div>
</div>
<div id="myModal5" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl5" class="close2">&times;</span>
            <h2>Opozorilo</h2>
        </div>
        <div class="modal-body">
            <p>Prosim naložite sliko!</p>
        </div>
    </div>
</div>
    
    <ul id="nav-bar-2">
        <li><h2>Skrivanje sporočila v sliko</h2></li>
        <li id="navodila"><button id="pop-up">Navodila</button></li>
    </ul>
    
    
    <div class="container">
        
        <!-- Upload in prikaz slik -->

        <div id="custom"><div class="custom-file-upload">
            <input type="file" id="file" name="file"/>
        </div></div>
        
        <img id="img" src="{{url_for('static', filename='generic-pic1.png')}}">

        <div id="coded"><p>Število kodiranih znakov </p><span id="capacity"></span></h2> </div>
        <textarea id="text" class="common" placeholder="Vpiši sporočilo..."></textarea><br>
        
        <div id="buttons">
           
            <button id="hide" class="open-sans-font">Skrij sporočilo</button>
            <button id="read" class="open-sans-font">Razkrij sporočilo</button>
                   
        </div>
        
        <div id="border-top"></div>
        <div id="hidden" style="display: none;">
            <div id="result">
                <h4>Slika s sporočilom:</h4>
                <img id="cover" src=""/>
                <a style="display: none;" id="download" class="btn small" download="prenos.png" rel="nofollow"><strong>D</strong></a>
                <div id="diffH" style="display: none;">
                    <h4>Razlika med slikama:</h4>
                    <canvas id="myCanvas3"> </canvas>
                </div>
            </div>
            <button id="diff">Prikaži razliko</button>
        </div>
    </div>
 
		
{% endblock %}
