{% extends "header.html" %}
{% block body %}
		<script src="{{url_for('static', filename='js/steganography/pixelmatch.js')}}"></script>
		<script src="{{url_for('static', filename='js/steganography/steg.js')}}"></script>
		<script src="{{url_for('static', filename='js/steganography/steganography.js')}}"></script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/steganography.css')}}" />

<!-- pop-up navodila -->

    <div id="myModal" class="modal">
    <div class="modal-content">
        <div id="header">
            <span id="cl" class="close">&times;</span>
            <h2>{{_("Navodila")}}</h2>
        </div>
        <div class="modal-body" id="body-navodila">
            <p>{{_("Steganography is the practice of concealing data, i.e. file, message, 
                    image, withing another data. The goal is to hide data so that the secret 
                    message do not attract attention. Unlike cryptography, which primaly 
                    tries to protect the content of the message, steganography is primaly 
                    concerned with hidding the track of the message being sent. This site 
                    provides youwith an oracle for hiding (secret) messages in a picture. 
                    After hidding the message, you can observethe difference between initial 
                    and the resulted image. The difference is (almost) imposible to 
                    detectwith a naked eye. Therefore, it is colored in red. <br> An 
                    extension of the oracle allows you to check if your picture contains a 
                    secret message.")}}</p>
        </div>
    </div>
</div>

    <!-- pop up nasvet + omejitve -->

<div id="myModal1" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl1" class="close1">&times;</span>
            <h2>{{_("Warning")}}</h2>
        </div>
        <div class="modal-body">
            <p>{{_("Choose an image!")}}</p>
        </div>
    </div>
</div>
<div id="myModal2" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl2" class="close2">&times;</span>
            <h2>{{_("Warning!")}}</h2>
        </div>
        <div class="modal-body">
            <p>{{_("The document is oversized. Document size upload limit is 2BM.")}}</p>
        </div>
    </div>
</div>
<div id="myModal3" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl3" class="close2">&times;</span>
            <h2>{{_("Warning")}}</h2>
        </div>
        <div class="modal-body">
            <p>{{_("The message is too big to be hidden!")}}</p>
        </div>
    </div>
</div>
<div id="myModal4" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl4" class="close2">&times;</span>
            <h2>{{_("Warning")}}</h2>
        </div>
        <div class="modal-body">
            <p>{{_("here is no message to be coded.")}}</p>
        </div>
    </div>
</div>
<div id="myModal5" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl5" class="close2">&times;</span>
            <h2>{{_("Warning")}}</h2>
        </div>
        <div class="modal-body">
            <p>{{_("Choose an image!")}}</p>
        </div>
    </div>
</div>

<div id="myModal6" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="cl6" class="close2">&times;</span>
            <h2>{{_("Warning")}}</h2>
        </div>
        <div class="modal-body">
            <p>{{_("The document is oversized in dimensions. Document dimensions upload limit
                     is 1000 x 1000px. ")}}</p>
        </div>
    </div>
</div>

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default" >
            <div class="panel-heading" id="head">
                <div class="row">
                    <div class="splitHead">   
                        <b>
                            <span class="pozdrav1"> 
                            {{_("Hide a message in a image")}}
                            </span>
                        </b>
                        <button id="pop-up">{{_("Instructions:")}}</button>
                    </div>
                </div>
            </div>
            
            <div class="container2">
                
                <!-- Upload in prikaz slik -->

                <div id="custom"><div class="custom-file-upload">
                    <p style="padding-left: 20px">{{_("Choose a picture:")}}</p>
                    <input type="file" id="file" name="file"/>
                    <p id="buttonLabel">{{_("Upload")}}</p>
                </div></div>
                
                <img id="img" src="{{url_for('static', filename='images/generic-pic1.png')}}">

                <div id="coded"><p>{{_("Number of characters")}}</p><span id="capacity"></span></h2> </div>
                <p id="znakovLabel">{{_(" characters")}}</p>
                <textarea id="text" class="common" placeholder={{_("Vpiši sporočilo...")}}></textarea><br>
                
                <div id="buttons">
                   
                    <button id="hide" class="open-sans-font">{{_("Hide")}}</button>
                    <button id="read" class="open-sans-font">{{_("Rediscover")}}</button>
                           
                </div>
                
                <div id="border-top"></div>
                <div id="hidden" style="display: none;">
                    <div id="result">

                        <h4>{{_("The image with the message")}}</h4>
                        <img id="cover" src=""/>
                        <div class="btn-center">
                            <button style="display: none;" id="download" onclick="document.getElementById('dlink').click()"><a id="dlink" download="prenos.png" rel="nofollow">{{_("Prenos")}}</a></button>
                        </div>

                        <div id="diffH" style="display: none;">
                            <h4>{{_("The difference between images:")}}</h4>
                            <canvas id="myCanvas3"> </canvas>
                        </div>
                        <div class="btn-center">
                            <button id="diff">{{_("Show the difference")}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	
 <script type="text/javascript">
 window.onload = function(){
			document.getElementById('file').addEventListener('change', handleFileSelect, false);
			document.getElementById('hide').addEventListener('click', hide, false);
			document.getElementById('read').addEventListener('click', read, false);
			document.getElementById('diff').addEventListener('click', difference, false);
			document.getElementById('text').addEventListener('keyup', updateCapacity, false);
			updateCapacity();
            document.getElementById('myCanvas3').style.visibility='hidden';
		};
		</script>
		
{% endblock %}
