{% extends "main.html" %}
{% block body %}
<script type="text/javascript" src = "{{url_for('static', filename='crypto.js')}}"></script>
<script type="text/javascript">
    input = {{input|safe}};
    lang = "{{lang}}";
    foreign = {% if foreign %} true {% else %} false {% endif %};
    next = "{{url_for('.play', difficulty = difficulty, idx = next)}}";
    window.onload = function(){initialize({{level}});};
</script>

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default" >
            <div class="panel-heading" id="glava">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <b><span class="pozdrav1">Kriptogram</span></b>
                    </div>
                    <div id ="buttons">
                            <button value = "Begin" class="btn btn-default btn-bg" id="begin">Začni</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12" id = "coreLogic">
                                            
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" id = "Text">
                            <br>
                            <textarea rows ="5" id  = "messageOutput" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            {% include ('substitution.stats.%s.html' % lang) %}
        </div>
    </div>
 </div>
{% endblock %}
