{% extends "main.html" %}
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='substitution.leaderboard.css')}}"/>
{% endblock %}
{% block body %}

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container-fluid">
            <div id="users" class="row-fluid">
                {% for user in users %}
                    <div class="row">
                    {%  if loop.index < 2 %}
                        <header>
                            <div id="col-1" class="col-md-4">
                                <span id="top-number">1.</span>
                                <img id="top-profile" src="{{ url_for('static', filename = 'bell.png') }}">
                                <span id="top-name">{{ user[0] }}</span>
                            </div>
                            <div id="col-2" class="col-md-4">
                                <span id="top-diff">Težavnost</span>
                                <span id="top-value">{{ user[1] }}</span>
                            </div>
                            <div id="col-3" class="col-md-4">
                                <img src="{{ url_for('static', filename = 'clock-icon-s.png') }}" id="clock">
                                <span id="top-time">{{ user[2] }}</span>
                            </div>
                        </header>
                    {% else %}
                        <div class="player">
                            <div class="col-xs-4 col-md-4 col-1">
                                <span class="number">{{ loop.index }}.</span>
                                <img class="profile" src={{ url_for('static', filename = 'profile-s.png') }}>
                                <span class="name">{{ user[0] }}</span>
                            </div>
                            <div class="col-xs-4 col-md-4 col-2">
                                <span class="diff">Težavnost</span>
                                <span class="value">{{ user[1] }}</span>
                            </div>
                            <div class="col-xs-4 col-md-4 col-3">
                                <img src="/static/clock-icon-s.png" class="clock">
                                <span class="time">{{ user[2] }}</span>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}