<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{_("Congrads, you managed to solve the riddle in")}}
            <label id="modal-time-minute"></label>
              {{_("min and")}} <label id="modal-time-second"></label> {{_("s!")}}
          </h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="username" placeholder="Ime igralca (3 črke)">
        </div>
        <div class="modal-footer">
            <button id="confirm" type="submit" class="btn btn-success btn-default pull-left"><span class="glyphicon glyphicon-ok"></span> {{_("Confirm")}}</button>
            <button id="cancel" type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> {{_("Click")}}</button>
            <div id="modal-alert" class="alert alert-danger" role="alert">{{_("Check the input!")}}</div>
        </div>
      </div>

    </div>
</div>