{% extends "header.html" %}
{% block body %}

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="glava">
                <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<b><span class="pozdrav1">Časovni žig</span></b>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="container-fluid">
					<form action="upload_file" method="post" enctype="multipart/form-data">
						<p>Izberite datoteko za časovno žigosanje:</p><br>
						<input type="file" name="fname" required>	
						<input name="hash" class="btn btn-primary btn-sm" type="submit" value="Izberi">
					</form>
				</div>	
			</div>	
			<div id="swatch" class="ui-widget-content ui-corner-all"></div>
		</div>
	</div>
</div>

{% endblock %}