{% extends "header.html" %}
{% block head %}
    <title>Vizualna kriptografija</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/visual.css') }}"/>
{% endblock %}
{% block body %}

    <!-- pop-up navodila -->

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div id="header">
                <span id="cl" class="close">&times;</span>
                <h2>Navodila</h2>
            </div>
            <div class="modal-body" id="body-navodila">
                <p>
                    <strong>1.</strong> Izberi sliko in klikni gumb
                    "Potrdi".<br><br>
                    <strong>2.</strong> Klikni gumb "Prikaži delni sliki".
                    Izvede se algoritem, ki izbrano sliko razstavi na dve enako
                    veliki delni sliki, na katerih je vsaka točka naključno
                    bela ali črna - torej šum.<br><br>
                    <strong>3.</strong> Klikni gumb "Prikaži animacijo".
                    Prikaže se postopek prekrivanja obeh delnih slik - ko sta
                    delni sliki prekriti, vidimo prvotno informacijo, ki pa se
                    od originalne razlikuje po slabšem kontrastu. Kljub izgubi
                    kontrasta pa so enostavne slike še vedno prepoznavne.<br>
                </p>
            </div>
        </div>
    </div>

    <!-- pop upi omejitve -->

    <div id="myModal1" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="cl1" class="close1">&times;</span>
                <h2>Opozorilo</h2>
            </div>
            <div class="modal-body">
                <p>Izberite slikovno datoteko!</p>
            </div>
        </div>
    </div>

    <div id="myModal2" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="cl2" class="close2">&times;</span>
                <h2>Opozorilo</h2>
            </div>
            <div class="modal-body">
                <p>Datoteka je prevelika!</p>
            </div>
        </div>
    </div>

    <div id="myModal3" class="modal">
        <div class="modal-content">
            <div id="header-3">
                <span id="cl3" class="close3">&times;</span>
                <h2>Namig</h2>
            </div>
            <div class="modal-body">
                <p>Najboljši rezultat boste dosegli z izbiro dvobarvne
                    slike</p>
            </div>
        </div>
    </div>


    <ul id="nav-bar-2">
        <li><h2>Vizualna kriptografija</h2></li>
        <li id="navodila">
            <button id="pop-up">Navodila</button>
        </li>
    </ul>


    <div class="container">

        <!-- 1. upload in prikaz slik -->

        <form id="post-form" action="" method="POST"
              enctype="multipart/form-data">
            <div id="custom">
                <div class="custom-file-upload">
                    <input type="file" id="file" name="file" value="send"/>
                </div>
            </div>
        </form>

        <img id="img-1" src="../static/images/visual/generic-pic1.png">
        <br>

        <div id="buttons" style="visibility: hidden">

            <button id="noise-btn" class="open-sans-font">Prikaži delni sliki
            </button>
            <button id="animation-btn" class="open-sans-font">Prikaži
                animacijo
            </button>

        </div>
        <br>

        <div id="outlines">
            <img id="img-left" src="">
            <img id="img-right" src="">
            <div id="img-container">
                <img id="img-result" src="">
            </div>
            <div class="clear"></div>
        </div>

        <!-- DROPBOX -->

        <div id="border-top"></div>

        <h4 id="both">Če že imaš obe delni sliki, povleci vsako v svoj okvir,
            klikni gumb "Potrdi" in si oglej animacijo.<br>Opozorilo: Sliki
            morata biti enakih dimenzij!</h4><br><br>


        <form id="upload-form" action="{{ url_for('steganography.upload') }}"
              method="POST" enctype="multipart/form-data">
            <!--<div class="custom-file-upload">
                <input id="file-picker" type="file" name="file" accept="image/*" multiple>
            </div>-->

            <div id="dropbox-container">
                <div id="dropbox-1">
                    <div class="clear"></div>
                </div>
                <div id="dropbox-2">
                    <div class="clear"></div>
                </div>

                <div class="clear"></div
            </div>

        </form>
        <button id="animation-btn-2">Prikaži animacijo</button>

        <div class="clear"></div>
    </div>

    <script src="{{ url_for('static', filename='js/visual/visual.crypto.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/visual/visual.uploader.js') }}"
            type="text/javascript"></script>
{% endblock %}
