{% extends "header.html" %}
{% block head %}
    <title>{{_("Vizualna kriptografija")}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/visual.css') }}"/>
{% endblock %}
{% block body %}

    <!-- pop-up navodila -->

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div id="header">
                <span id="cl" class="close">&times;</span>
                <h2>{{_("Navodila")}}</h2>
            </div>
            <div class="modal-body" id="body-navodila">
                <p>
                    {{_("<strong>1.</strong> Izberi sliko in klikni gumb
                    Potrdi.<br><br>
                    <strong>2.</strong> Klikni gumb <strong>Prikaži delni sliki</strong>.
                    Izvede se algoritem, ki izbrano sliko razstavi na dve enako
                    veliki delni sliki, na katerih je vsaka točka naključno
                    bela ali črna - torej šum.<br><br>
                    <strong>3.</strong> Klikni gumb <strong>Prikaži animacijo</strong>.
                    Prikaže se postopek prekrivanja obeh delnih slik - ko sta
                    delni sliki prekriti, vidimo prvotno informacijo, ki pa se
                    od originalne razlikuje po slabšem kontrastu. Kljub izgubi
                    kontrasta pa so enostavne slike še vedno prepoznavne.<br>")}}
                </p>
            </div>
        </div>
    </div>

    <!-- pop upi omejitve -->

    <div id="myModal1" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="cl1" class="close1">&times;</span>
                <h2>{{_("Opozorilo")}}</h2>
            </div>
            <div class="modal-body">
                <p>{{_("Izberite slikovno datoteko!")}}</p>
            </div>
        </div>
    </div>

    <div id="myModal2" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="cl2" class="close2">&times;</span>
                <h2>{{_("Opozorilo")}}</h2>
            </div>
            <div class="modal-body">
                <p>{{_("Datoteka je prevelika!")}}</p>
            </div>
        </div>
    </div>

    <div id="myModal3" class="modal">
        <div class="modal-content">
            <div id="header-3">
                <span id="cl3" class="close3">&times;</span>
                <h2>{{_("Namig")}}</h2>
            </div>
            <div class="modal-body">
                <p>{{_("Najboljši rezultat boste dosegli z izbiro dvobarvne
                    slike")}}</p>
            </div>
        </div>
    </div>


<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default" >
            <div class="panel-heading" id="head">
                <div class="row">
                    <div class="splitHead">
                        <b>
                            <span class="pozdrav1">
                            {{_("Vizualna kriptografija")}}
                            </span>
                        </b>
                        <button id="pop-up">{{_("Navodila")}}</button>
                    </div>
                </div>
            </div>

            <div class="container2">

        <!-- 1. upload in prikaz slik -->

        <form id="post-form" action="" method="POST"
              enctype="multipart/form-data">
            <div id="custom">
                <div class="custom-file-upload">
                    <p style="padding-left: 20px">{{_("Izberi sliko:")}}</p>
                    <input type="file" id="file" name="file" value="send"/>
                    <p id="buttonLabel">{{_("Naloži")}}</p>
                </div>
            </div>
        </form>

        <img id="img-1" src="{{url_for('static', filename='images/generic-pic1.png')}}">
        <br>

        <div id="buttons" style="visibility: hidden">

            <button id="noise-btn" class="open-sans-font">
              {{_("Prikaži delni sliki")}}
            </button>
            <button id="animation-btn" class="open-sans-font">
              {{_("Prikaži animacijo")}}
            </button>

        </div>
        <br>

        <div id="outlines">
            <img id="img-left" src="">
            <img id="img-right" src="">
            <div id="img-container">
                <img id="img-result" src="">
            </div>
            <div class="clear"></div>
        </div>

        <!-- DROPBOX -->

        <div id="border-top"></div>

        <h4 id="both">{{_("Če že imaš obe delni sliki, povleci vsako v svoj okvir,
            klikni gumb <strong>Prikaži animacijo</strong> in si oglej animacijo.<br>
            Opozorilo: Sliki morata biti enakih dimenzij!")}}</h4><br><br>


        <div id="dropbox-container">
            <div id="dropbox-1">
                <img id="uploaded-img-1" src="">
            </div>
            <div id="dropbox-2">
                <img id="uploaded-img-2" src="">
            </div>
            <div id="dropbox-result">
                <img id="downloaded-img" src="">
            </div>

            <div class="clear"></div>
        </div>

        <button id="animation-btn-2">{{_("Prikaži animacijo")}}</button>
        <button id="noise-btn-2">{{_("Prikaži delni sliki")}}</button>

        <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
    imageURL = "{{ url_for('visual.image') }}";
    noiseURL = "{{ url_for('visual.noise') }}";
    </script>
    <script src="{{ url_for('static', filename='js/visual/visual.crypto.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/visual/visual.uploader.js') }}"
            type="text/javascript"></script>
{% endblock %}
